<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3 about-info">
        <img
          class="img-fluid"
          src="assets/E-commerce.svg"
          alt="E-commerce"
          width="160"
          height="153"
        />
        <p>768</p>
        <small>COURSES PUBLISHED</small>
      </div>
      <div class="col-sm-12 col-md-3 about-info">
        <img
          class="img-fluid"
          src="assets/Customize your experience.svg"
          alt="Customize your experience"
          width="181"
          height="175"
        />
        <p>120</p>
        <small>EXPERT INSTRUCTORS</small>
      </div>
      <div class="col-sm-12 col-md-3 about-info">
        <img
          class="img-fluid"
          src="assets/Launch product.svg"
          alt="Launch product"
          width="114"
          height="153"
        />
        <p>8,300</p>
        <small>HAPPY LEARNERS</small>
      </div>
      <div class="col-sm-12 col-md-3 about-info winner">
        <img
          class="img-fluid"
          src="assets/Winner.svg"
          alt="Winner"
          width="166"
          height="109"
        />
        <p>32</p>
        <small>AWARDS ACHIEVED</small>
      </div>
    </div>
  </div>
</section>
