.announcement {
  position: relative;
  color: white;
}

.upper-announcement {
  height: 8rem;
  background-color: #f0f4f9;
  width: 100%;
}

.announcement-body {
  padding: 1vw 1vw;
  background-color: #002147;
  margin-top: -100px !important;
  border-radius: 8px;
}

.announcement-left-section {
  display: flex;
  align-items: center;
  gap: 1vmax;
  font-size: calc(5vh - 0.9em);
}

.course-name {
  color: #fdc800;
}

.announcement-right-section {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.time-section {
  align-content: center;
  align-items: center;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-counter {
  font-size: 7vh;
  font-weight: bold;
}
.dots {
  font-size: 3vh;
  margin-bottom: 40px;
}

.counter {
  font-size: 3em;
  font-weight: bold;
}

.timer-info {
  font-size: 14px;
}
