.main-content {
  margin: 6rem 0;
  color: #002147;
}

.main-header {
  font-family: "Times New Roman";
  margin-bottom: 4rem;
  font-size: calc(3.5vmax + 1em);
  font-weight: bold;
}

.card {
  margin-bottom: 20px;
  width: 100%;
  padding: 0;
}

.img-thumbnail {
  margin-top: -90px;
}
