.banner {
  color: #002147;
  background-color: #f0f4f9;
}

.banner-title {
  font-size: calc(1.3vh + 0.4em);
}

.banner-learn {
  font-family: "Times New Roman", Times, serif;
  font-size: calc(3vmax + 0.5em);
}

.quote-btn {
  margin-right: 12px;
  padding: 10px 25px !important;
  background-color: #fdc800 !important;
  color: #002147 !important;
}

.read-more-btn {
  padding: 10px 25px !important;
  background-color: #ffff !important;
  color: #002147 !important;
  border-color: #bdbdbd !important;
}

@media (max-width: 525px) {
  .banner-right-side {
    display: none;
  }
}
