<div class="card">
  <img
    src="assets/ux-designer-web-designer.svg"
    class="card-img-top img-fluid"
    alt="ux-designer-web-designer"
    width="370"
    height="200"
  />
  <div class="card-body">
    <img
      src="assets/coursera_180x180.svg"
      class="img-thumbnail"
      alt="The Museum of Modern Art"
      width="64"
      height="64"
    />
    <h4 class="card-title">User Research for User Experience Design</h4>
    <p class="card-text text-muted">The Museum of Modern Art</p>
  </div>
</div>
