<div class="card h-100" *ngIf="course">
  <img
    src="{{ course.courseImg }}"
    class="card-img-top img-fluid"
    alt="{{ course.courseName }}"
    width="370"
    height="200"
  />
  <div class="card-body">
    <img
      src="{{ course.colleagueLogo }}"
      class="img-thumbnail"
      alt="{{ course.courseColleague }}"
      width="64"
      height="64"
    />
    <h4 class="card-title">{{course.courseName}}</h4>
    <p class="card-text text-muted">{{ course.courseColleague }}</p>
  </div>
</div>
